/* Container for the About page */
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff; /* White text color */
  text-align: center;
  transition: background-color 2s ease, transform 1s ease; /* Combined transitions */
  transform: scale(0.8); /* Initial zoom-out effect */
  width: 100%; /* Ensure the container takes up the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

/* When the element is in view, apply the new background color and zoom effect */
.about-page.in-view {
  background-color: #333; /* Final background color */
  transform: scale(1); /* Zoom in */
}

/* Logo section */
.about-logo img {
  max-width: 200px; /* Adjust logo size */
  margin-bottom: 2rem;
}

/* Header */
.about-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #E4C664 0%, #B18325 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Paragraph */
.about-paragraph {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 800px; /* Adjust the width as needed */
  padding: 0 1rem; /* Add padding to prevent text from touching screen edges */
}

/* Learn More link */
.about-learn-more a {
  color: #007bff; /* Link color */
  text-decoration: none;
  font-weight: bold;
}

.about-learn-more a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-header {
    font-size: 2rem; /* Adjust header size for smaller screens */
  }

  .about-paragraph {
    font-size: 1rem; /* Slightly reduce font size */
    max-width: 90%; /* Reduce width for better fit on smaller screens */
    padding: 0 0.5rem; /* Adjust padding for smaller screens */
  }

  .about-logo img {
    max-width: 150px; /* Reduce logo size on smaller screens */
  }
}

@media (max-width: 480px) {
  .about-header {
    font-size: 1.5rem; /* Further reduce header size for very small screens */
  }

  .about-paragraph {
    font-size: 0.9rem; /* Further reduce font size */
    max-width: 100%; /* Ensure full width usage */
    padding: 0 0.5rem; /* Maintain padding on very small screens */
  }

  .about-logo img {
    max-width: 120px; /* Further reduce logo size */
  }

  .about-learn-more a {
    font-size: 0.9rem; /* Adjust link size for smaller screens */
  }
}
